<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">plan_id</label>
            <div class="layui-input-block">
                <input type="text" name="plan_id" class="layui-input" lay-verify="required" placeholder="请输入plan_id" value="{$row.plan_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">消费</label>
            <div class="layui-input-block">
                <input type="text" name="to_consume" class="layui-input" lay-verify="required" placeholder="请输入消费" value="{$row.to_consume|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">计划名称</label>
            <div class="layui-input-block">
                <input type="text" name="plan_name" class="layui-input" lay-verify="required" placeholder="请输入计划名称" value="{$row.plan_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">偿还</label>
            <div class="layui-input-block">
                <input type="text" name="Repay" class="layui-input" lay-verify="required" placeholder="请输入偿还" value="{$row.Repay|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">card_id</label>
            <div class="layui-input-block">
                <input type="text" name="card_id" class="layui-input" lay-verify="required" placeholder="请输入card_id" value="{$row.card_id|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>