<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">card_id</label>
            <div class="layui-input-block">
                <input type="text" name="card_id" class="layui-input" lay-verify="required" placeholder="请输入card_id" value="{$row.card_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">user_id</label>
            <div class="layui-input-block">
                <input type="text" name="user_id" class="layui-input" lay-verify="required" placeholder="请输入user_id" value="{$row.user_id|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">orderNo</label>
            <div class="layui-input-block">
                <input type="text" name="orderNo" class="layui-input" lay-verify="required" placeholder="请输入orderNo" value="{$row.orderNo|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">rate</label>
            <div class="layui-input-block">
                <input type="text" name="rate" class="layui-input" lay-verify="required" placeholder="请输入rate" value="{$row.rate|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">1成功2失败</label>
            <div class="layui-input-block">
                <input type="text" name="pay_status" class="layui-input" lay-verify="required" placeholder="请输入1成功2失败" value="{$row.pay_status|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>