<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">交易金额</label>
            <div class="layui-input-block">
                <input type="text" name="trade_amount" class="layui-input" lay-verify="required" placeholder="请输入交易金额" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交易时间</label>
            <div class="layui-input-block">
                <input type="text" name="trade_time" class="layui-input" lay-verify="required" placeholder="请输入交易时间" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">交易状态1待消费2已消费3取消</label>
            <div class="layui-input-block">
                <input type="text" name="trade_status" class="layui-input" lay-verify="required" placeholder="请输入交易状态1待消费2已消费3取消" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实际金额</label>
            <div class="layui-input-block">
                <input type="text" name="actual_amount" class="layui-input" lay-verify="required" placeholder="请输入实际金额" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手续费</label>
            <div class="layui-input-block">
                <input type="text" name="trade_fee" class="layui-input" lay-verify="required" placeholder="请输入手续费" value="0.00">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">1消费2还款</label>
            <div class="layui-input-block">
                <input type="text" name="trade_type" class="layui-input" lay-verify="required" placeholder="请输入1消费2还款" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">plan_details_id</label>
            <div class="layui-input-block">
                <input type="text" name="plan_details_id" class="layui-input" lay-verify="required" placeholder="请输入plan_details_id" value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">card_id</label>
            <div class="layui-input-block">
                <input type="text" name="card_id" class="layui-input" lay-verify="required" placeholder="请输入card_id" value="">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>